.App {
  text-align: center;
}

.basket {
  width: 83%; 
  height: 65vh;
  margin-right: auto;
  margin-left : auto;
  overflow: hidden;
  overflow: auto;
}

.basket::-webkit-scrollbar{
  display: none;
}